.cardapio {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 200px;
    align-items: center;
    background-color: #0e004f;
}

.carcontent {
    gap: 2px;

}


.menosoumais {
    width: 1%;
}

.quantidade {
    position: absolute;
}